@font-face {
    font-family: Roboto;
    src: url(../public/Roboto-Regular.ttf);
}
.container{
    width: 100%;
    height: 91px;
    background-color: #128c7e;
    display: flex;
    justify-content: center;
    position: fixed;
}
.navbar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    padding-left: 32px;
    padding-right: 32px;
}
.navbar_list{
    list-style: none;
   
}
.navbar_list_ptbr{
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}
.brand{
    width: 160px;
    height: 39px;
    margin-right: 32px;
    background-image: url("../public/brand.svg");
}
.icon_rede{
    width: 15px;
    height: 15px;
}
.language{
    display: flex;
}

    @media (max-width: 1618px){
        .navbar{
            width: 70%;
        }
    }
    @media (max-width: 1500px){
        .navbar{
            width: 80%;
        }
    }
    @media (max-width: 1200px){
        .navbar{
            width: 90%;
        }
    }
    @media (max-width: 1100px){
        .container{
            height: 74px;
        }
        .navbar{
            width: 100%;
        }
        .navbar li{
            cursor: pointer;
        }
        .navbar_list{
            font-size: 14px;
        }
        .brand{
            width: 100px;
            height: 39px;
            background-image: url("../public/brand-mobile.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .navbar_list_ptbr{
            display: none;
        }
        .menu_language{
            display: none;
        }
    }
    @media (max-width: 769px){

    }